<section>
  <h2>Users</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let user of $users | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </table>
</section>

<section>
  <h2>Create User</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label><br />
    <input type="text" id="name" name="name" formControlName="name"/><br />
    <label for="email">Email:</label><br />
    <input type="email" id="email" name="email" formControlName="email"/><br />
    <input type="submit" value="Submit" />
  </form>
</section>
